services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "8081:80"
    restart: always

  git_pages:
    build: ./git_pages
    ports:
      - "8080:80"
    restart: always
